sudo: true
dist: trusty

services:
  - docker

jobs:
  include:
    - stage: build docker image
      script:
      - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - docker build -t messenger .
      - docker images
      - docker tag messenger $DOCKER_USERNAME/messenger
      - docker push $DOCKER_USERNAME/messenger
#    - stage: delpoy to digital ocean
#      script:
#      - bash scripts/deploy.sh